{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    Documents internes
{% endblock %}

{% block title %}Documents internes{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="heading mb20">
                <h2>
                    Documents internes
                </h2>
            </div>
            <div class="row" {{ stimulus_controller('docs', {
                url: path('utilisateur_intranet_liste_documents'),
            }) }}>
                <div {{ stimulus_target('docs', 'liste') }}>
                    {% for categorie in categories|filter(categorie => categorie.categorieParent == null) %}
                        <div class="col-sm-12 col-md-4">
                            <div class="card-document">
                                <h3> > {{ categorie.libelle }}</h3>
                                <a href="#" {{ stimulus_action('docs', 'voirDocuments', 'click', {categorie:categorie.id}) }}>Voir les documents</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
