{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			{% if page != null %}
				<div class="heading mb20">
					<h1>
						{{ page.titre }}
					</h1>
				</div>
				<p class="da-text-justify">
					{{ page.texte|raw }}
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
