<div class="row">
	<div class="col-sm-7">&nbsp;</div>
	<div class="col-sm-5" style="text-align: right">
		<a href="{{ path('utilisateur_'~var~'_index') }}">Annuler/retour</a>&nbsp;&nbsp;
		<input type="submit" class="btn btn-primary" value="Enregistrer"/>
	</div>
</div>